<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Add professor profile</title>
</head>


<body>
	<div class="container">
	
		<h3>Professor Profile</h3>
		<hr>
	
		<form th:action="@{/professor/save}"
						 th:object="${professor}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<label>Full Name</label>
			<input type="text" th:field="*{fullName}"
					class="form-control mb-4 col-4" placeholder="Full name" required>
					
			<label>Specialty</label>
			<input type="text" th:field="*{specialty}"
					class="form-control mb-4 col-4" placeholder="Specialty" required>
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/professor/dashboard}">Back to Dashboard</a>
		
	</div>

</body>
</html>