<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Subject</title>
</head>


<body>

	<div class="container">
		<h2>Diploma thesis: "<span th:text=" ${subject.title}">Title</span>"</h2> 
	    
		<hr> <br>
	  
		<ul class="list-group">
			<li th:text="'Title: ' + ${subject.title}" class="list-group-item"></li>
			<li th:text="'Objectives: ' + ${subject.objectives}" class="list-group-item"></li>
			<li th:text="'Supervisor: ' + ${subject.professor.fullName}" class="list-group-item"></li>
		</ul>
	    
		<hr>
		<p>
			<button type="button" onclick="goBack()" class="btn btn-danger btn-sm mb-3">Back</button>
	
	    	<script>
		        function goBack() {
		            history.back();
		        }
		    </script>
		</p>
	  
	</div>

</body>
</html>